<div class="h-space"></div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="../img/test.png" style="padding-right: 20px;"/><h3 style="display: inline-block; ">{{quiz.name}}</h3>
            <div class="row">
                <div class="col-lg-10">
                    <span>Total Questions: {{quiz.questions.length}}</span>
                </div>
                <div class="col-lg-2" >
                    <span >Max Time: {{quiz.time}} Mins.</span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-show="showResult">
                <!--<div  class="bg-primary" >-->
                <div class="row">
                    <div class="col-lg-6 bg-warning" style="text-align: center; vertical-align: middle">
                        <h1 style="font-size: 75px;"> #Score card</h1>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-ok"></span>Correct Answers</td>
                                <td>{{correctAnswers}}</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-remove"></span>Wrong Answers</td>
                                <td>{{wrongAnswers}}</td>
                            </tr>

                            <tr class="well well-lg" style="font-weight: bold; font-size: 16px;">
                                <td># Total Score</td>
                                <td>{{finalScore}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="showQuestionPaper">
                <div class="quiz {{question.checked}}" ng-class="{quizborder: showResult == false}"
                     ng-repeat="question in quiz.questions | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                    <div>
                        <span class="{{question.checkedClass}}"></span><span class="q-title ">Q{{question.id}}: {{question.question}}</span>
                        <ul class="options">
                            <li ng-disabled="showResult"
                                ng-repeat="option in question.options"

                                ng-class="{actualanswer: question.answer == {{option.key}}, checked: question.givenAnswer == {{option.key}}}">


                                <label style="font-weight: normal">
                                    <input type="radio" ng-disabled="showResult"
                                           name="{{question.id}}" value="{{option.key}}"
                                           ng-model="question.givenAnswer">{{option.value}}
                                </label>
                                <span ng-show="question.answer == option.key" class="glyphicon glyphicon-check"></span>
                            </li>

                        </ul>
                        <p ng-show="showResult" style="padding: 5px;">[<b>Explanation:</b> {{question.description}}]</p>
                    </div>
                </div>
            </div>


            <div style="text-align: right" ng-show="showSubmit" >
                <input type="button" name="name" value="Reset" ng-click="reset();" class="btn btn-danger" ng-disabled="showResult" />
                <input type="button" name="name" value="Submit" ng-click="submit();" class="btn btn-success" ng-disabled="showResult" />
            </div>

        </div>
        <div style="text-align: center" ng-show="showQuestionPaper">
            <pagination items-per-page="itemsPerPage" total-items="quiz.questions.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>



    </div>
</div>

<div id="timer" class='clock' ng-show="timeLeft">
    <table>
        <tr>
            <td>
                <p class='message'>Time Left</p>
            </td>
            <td>
                <span class='time'>{{timeLeft}}</span>
            </td>
        </tr>
    </table>
</div>

<!--<script type="text/javascript">
    $(document).ready(function () {
        $('#timer').draggable();
    });
</script>-->