<div class="h-space"></div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <img src="../img/test.png" style="padding-right: 20px;"/><h3 style="display: inline-block; ">{{quiz.title}}</h3>
            <div class="row">
                <div class="col-lg-10">
                    <span>Total Questions: {{quiz.totalQuestions}}</span>
                </div>
                <div class="col-lg-2" >
                    <span >Max Time: {{quiz.time}} Mins.</span>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div ng-show="showResult">
                <div class="row score-card" >
                    <div class="col-lg-6 bg-info" style="text-align: center; vertical-align: middle; height: 151px">
                        <h1 style="font-size: 75px; line-height: 100px"> #Score card</h1>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-ok"></span>Correct Answers</td>
                                <td>{{response.result.rightAnswers}}</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-remove"></span>Wrong Answers</td>
                                <td>{{response.result.wrongAnswers}}</td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-remove"></span>Not attempted</td>
                                <td>{{response.result.notAttempted}}</td>
                            </tr>

                            <tr class="well well-lg" style="font-weight: bold; font-size: 16px;">
                                <td># Total Score</td>
                                <td>{{response.result.totalScore}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="pull-right" ng-hide="showResult || showInstructions" ng-click="toggleInstructions()">Show Instructions</a>
                    <tys-instructions quiz="quiz" ng-show="showInstructions"></tys-instructions>
                    <a class="pull-right" ng-show="showInstructions" ng-click="toggleInstructions()">Hide Instructions</a>
                </div>

            </div>
            <div class="row" ng-hide="showResult">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        <span style="margin: 0px auto; display: table">How many questions you want to see per page?</span>
                        <input ng-model="itemsPerPage"  type="text" id="itemsPerPage" slider options="sliderOption"  />
                        </div>
                    </div>

                </div>
            </div>
            <div ng-show="userNotLoggedIn" class="alert alert-warning" role="alert">
                <h3>Please Login to take this test.</h3>
                <login-btn></login-btn>
            </div>

            <div ng-show="showStartButton" class="well">
                <h4>Click the Start button to Start the test.</h4>
                <button class="btn btn-success" ng-click="startTest()">Start</button>
            </div>

            <div ng-show="showQuestionPaper">
                <div class="quiz {{question.checked}}" ng-class="{quizborder: showResult == false}"
                     ng-repeat="question in quiz.questions | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage">
                    <div>
                        <span class="{{question.checkedClass}}"></span><span class="q-title ">Q{{question.id}}: {{question.title}}</span>
                        <ul class="options">
                            <li
                                ng-repeat="option in question.options"

                                ng-class="{actualanswer: question.answer == option.id, checked: question.givenAnswer == option.id }"
                                >


                                <label style="font-weight: normal">
                                    <input type="radio" ng-disabled="showResult"
                                           name="{{question.id}}" value="{{option.id}}"
                                           ng-model="question.givenAnswer">{{option.value}}
                                </label>
                                <span ng-show="question.answer == option.id" class="glyphicon glyphicon-check"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="text-align: right" ng-show="showSubmit" >
                <input type="button" name="name" value="Reset" ng-click="reset();" class="btn btn-danger" ng-disabled="showResult" />
                <input type="button" name="name" value="Submit" ng-click="submit();" class="btn btn-success" ng-disabled="showResult" />
            </div>

        </div>
        <div style="text-align: center" ng-show="showQuestionPaper">
            <pagination items-per-page="itemsPerPage" total-items="quiz.questions.length" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>



    </div>
</div>

<div id="timer" class='clock' ng-show="timeLeft">
    <table>
        <tr>
            <td>
                <p class='message'>Time Left</p>
            </td>
            <td>
                <span class='time'>{{timeLeft}}</span>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#timer').draggable();
    });
</script>
