<div class="h-space"></div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Upload new Quiz</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="quizForm" ng-submit="submitForm(quizForm.$valid)" novalidate>
                <fieldset>
                    <legend>Quiz information</legend>

                    <div class="form-group" ng-class="{ 'has-error' : quizForm.name.$invalid && !quizForm.name.$pristine }">
                        <label class="col-sm-2 control-label">Quiz Title</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" ng-model="quiz.title" required>
                            <p ng-show="quizForm.name.$invalid && !quizForm.name.$pristine" class="help-block">Test title is required.</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : quizForm.subject.$invalid && !quizForm.subject.$pristine }">
                        <label class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-8">
                            <input type="text" name="subject" placeholder="Choose or enter new subject"
                                   ng-model="quiz.subject"
                                   typeahead="state for state in states | filter:$viewValue | limitTo:8"
                                   class="form-control" required>

                            <p ng-show="quizForm.subject.$invalid && !quizForm.subject.$pristine" class="help-block">Subject is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : quizForm.numberOfQuestions.$invalid && !quizForm.numberOfQuestions.$pristine }">
                        <label class="col-sm-2 control-label">Total questions</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control"
                                   name="numberOfQuestions"
                                   placeholder="Total number of questions"
                                   ng-model="totalQuestions"
                                   ng-change="updateQuestionCount();"
                                   min="1"
                                   max="200" required>

                            <p ng-show="quizForm.numberOfQuestions.$invalid && !quizForm.numberOfQuestions.$pristine" class="help-block">This is required.</p>
                            <p ng-show="quizForm.numberOfQuestions.$error.number" class="help-block">Not a valid number!</p>
                            <p ng-show="quizForm.numberOfQuestions.$error.min" class="help-block">You should have atleast one questoin in the Quiz!</p>
                            <p ng-show="quizForm.numberOfQuestions.$error.max" class="help-block">Total questions should not be greater than 200 in the Quiz!</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : quizForm.time.$invalid && !quizForm.time.$pristine }">
                        <label for="time" class="col-sm-2 control-label">Time</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="time" placeholder="Time in minuites"
                                   name="time" min="5" max="180" ng-model="quiz.time" required>
                            <p ng-show="quizForm.time.$error.required && !quizForm.time.$pristine" class="help-block">Time is required.</p>
                            <p ng-show="quizForm.time.$error.number" class="help-block">Not a valid number!</p>
                            <p ng-show="quizForm.time.$error.min" class="help-block">Time should not be less than 5 Minuites!</p>
                            <p ng-show="quizForm.time.$error.max" class="help-block">Time should not be greater than 180 Minuites !</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : quizForm.positiveMark.$invalid && !quizForm.positiveMark.$pristine }">
                        <label for="positiveMark" class="col-sm-2 control-label">+Ve Marking</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="positiveMark"
                                   name="positiveMark" min="1" max="100"
                                   ng-model="quiz.positiveMark"
                                   placeholder="Marks given for each correct answer." required>
                            <p ng-show="quizForm.positiveMark.$error.required && !quizForm.positiveMark.$pristine" class="help-block">This is required.</p>
                            <p ng-show="quizForm.positiveMark.$error.number" class="help-block">Not a valid number!</p>
                            <p ng-show="quizForm.positiveMark.$error.min" class="help-block">Number should not be less than 1 !</p>
                            <p ng-show="quizForm.positiveMark.$error.max" class="help-block">Number should not be greater than 100 !</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : quizForm.negativeMark.$invalid && !quizForm.negativeMark.$pristine }">
                        <label for="negativeMark" class="col-sm-2 control-label">-Ve Marking</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="negativeMark"
                                   name="negativeMark" min="-100" max="0"
                                   ng-model="quiz.negativeMark"
                                   placeholder="Marks given for each wrong answer." required>
                            <p ng-show="quizForm.negativeMark.$error.required && !quizForm.negativeMark.$pristine" class="help-block">This is required.</p>
                            <p ng-show="quizForm.negativeMark.$error.number" class="help-block">Not a valid number!</p>
                            <p ng-show="quizForm.negativeMark.$error.min" class="help-block">Number should not be less than -100 !</p>
                            <p ng-show="quizForm.negativeMark.$error.max" class="help-block">Number should not be greater than 0 !</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Is Solved</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="quiz.solved" value="true"> Select if you are providing a solution too.
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Questions</legend>
                    <accordion close-others="oneAtATime">
                        <div ng-repeat="q in quiz.questions">
                            <accordion-group is-open="q.open">
                                <accordion-heading>
                                    Ques {{q.number}}:{{q.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': q.open, 'glyphicon-chevron-right': !q.open}"></i>
                                </accordion-heading>
                                <input-question solved="quiz.solved" question="q"></input-question>
                            </accordion-group>
                        </div>

                    </accordion>
                </fieldset>
                <div style="text-align: right">
                    <input type="button" name="name" value="Cancel" ng-click="cancel();" class="btn btn-danger" />
                    <input type="submit" value="Submit" class="btn btn-success" ng-disabled="quizForm.$invalid" />
                </div>
            </form>
        </div>
    </div>
</div>
